  </main>

  <div id="lightbox" class="lightbox hidden">
    <button class="lightbox-close" id="lightboxClose"><i class="fas fa-times"></i></button>
    <button class="lightbox-nav lightbox-prev" id="lightboxPrev"><i class="fas fa-chevron-left"></i></button>
    <button class="lightbox-nav lightbox-next" id="lightboxNext"><i class="fas fa-chevron-right"></i></button>
    <div class="lightbox-content" id="lightboxContent"></div>
    <div class="lightbox-caption" id="lightboxCaption"></div>
    <div class="lightbox-counter" id="lightboxCounter"></div>
  </div>

  <script src="/js/main.js"></script>
  <script>if ('serviceWorker' in navigator) navigator.serviceWorker.register('/sw.js');</script>
</body>
</html>
